body{padding-top:100px;}

.jumbotron{color: #2c3e50;}

.size{max-width: 80pc;
	width:80%;
		height: 100px;}

		.rounded{widows: 500px;
				height: 500px;
			}

				.bee{text-align: center;}